/* articles.css */

/* Устанавливаем фон для страницы */
body {
    background-color: #ffffff;
}

/* Стили контейнера для статей */
.projects-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили заголовка */
.header-title {
    text-align: center;
    margin-bottom: 30px;
    color: #212529;
}

/* Стили для ссылок, чтобы они выглядели как блоки статей */
.projects-link {
    display: block;
    background-color: #383838;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.projects-link:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects-link h4 {
    margin: 0 0 10px 0;
    color: #007bff;
}

.projects-link p {
    margin: 0;
    color: #6c757d;
}
